
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/css/front.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>       
        function cart() {
            if ($("#child").hasClass("showcart")) {
                $("#child").removeClass("showcart");
            }
            else {
                $("#child").addClass("showcart");
            }            
        }
    </script>
    <title>CSS</title>
</head>
<body>
    <ul>
        <li><a href="https://portfoliosky.azurewebsites.net/">HOME</a></li>
        <li><a href="#part1">TOPIC1</a></li>
        <li><a href="#part2">TOPIC2</a></li>
    </ul>
    <br /><br />
    <h1 id="part1">SHOPPING CART</h1>
    <hr />
    <br />
    <div id="div-part1">
        <div id="part1-bg">
            <div id="part1-nav">
                <div onclick="cart()" id="cart">click<br/>cart</div>
            </div>
            <div id="child"></div>
        </div>
    </div>
    <br />
    <a class="top" href="#">Go to top</a>
    <br /><br />
    <h1 id="part2">TOPIC2</h1>
    <hr />
    <br />
    <div>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Sit amet venenatis urna cursus eget nunc scelerisque. Tincidunt nunc pulvinar sapien et ligula ullamcorper. Sem fringilla ut morbi tincidunt. Tellus integer feugiat scelerisque varius morbi enim nunc. Viverra nam libero justo laoreet sit amet cursus sit amet. Eget nulla facilisi etiam dignissim. Leo a diam sollicitudin tempor id eu nisl nunc mi. Imperdiet proin fermentum leo vel orci porta. Eu sem integer vitae justo eget magna fermentum. Orci a scelerisque purus semper eget duis. Magna etiam tempor orci eu lobortis.

        Sagittis nisl rhoncus mattis rhoncus urna neque viverra justo. Enim praesent elementum facilisis leo vel fringilla est. Malesuada pellentesque elit eget gravida cum. Vitae proin sagittis nisl rhoncus mattis. Ac auctor augue mauris augue neque. Dictum fusce ut placerat orci. Purus semper eget duis at. Quis eleifend quam adipiscing vitae proin sagittis nisl rhoncus. Lectus urna duis convallis convallis tellus id interdum. Odio facilisis mauris sit amet massa vitae. Mauris pharetra et ultrices neque ornare aenean. Pharetra magna ac placerat vestibulum. Sed felis eget velit aliquet.

        Lectus nulla at volutpat diam. Tincidunt id aliquet risus feugiat in ante metus dictum. Fringilla urna porttitor rhoncus dolor purus non enim. Pellentesque elit ullamcorper dignissim cras tincidunt lobortis feugiat vivamus at. Egestas tellus rutrum tellus pellentesque. Vitae ultricies leo integer malesuada nunc. Ipsum faucibus vitae aliquet nec. Velit sed ullamcorper morbi tincidunt ornare massa eget egestas. Lectus nulla at volutpat diam ut venenatis tellus. Elementum integer enim neque volutpat. Ornare lectus sit amet est. Ultrices gravida dictum fusce ut. Cursus mattis molestie a iaculis. Euismod in pellentesque massa placerat duis ultricies lacus sed. Morbi tristique senectus et netus et malesuada. Semper auctor neque vitae tempus quam pellentesque nec nam aliquam.

        Volutpat maecenas volutpat blandit aliquam etiam erat velit. Semper feugiat nibh sed pulvinar proin gravida hendrerit. Cursus sit amet dictum sit amet. Aenean vel elit scelerisque mauris pellentesque. Hac habitasse platea dictumst vestibulum rhoncus est. Sagittis eu volutpat odio facilisis. Sodales ut etiam sit amet nisl purus in mollis. Quisque egestas diam in arcu cursus euismod. Sapien eget mi proin sed. Amet nisl suscipit adipiscing bibendum est ultricies integer. Eu non diam phasellus vestibulum lorem sed risus.

        Nisl pretium fusce id velit ut tortor pretium. Commodo odio aenean sed adipiscing. Id venenatis a condimentum vitae sapien. Mattis molestie a iaculis at erat pellentesque adipiscing commodo elit. Neque viverra justo nec ultrices dui sapien eget mi proin. Tristique magna sit amet purus gravida quis blandit turpis. Fringilla phasellus faucibus scelerisque eleifend donec pretium vulputate sapien. Ultrices dui sapien eget mi proin sed. Nulla at volutpat diam ut venenatis tellus in metus vulputate. Commodo elit at imperdiet dui accumsan sit. Sed turpis tincidunt id aliquet risus feugiat.

        Iaculis eu non diam phasellus vestibulum lorem sed risus. Viverra aliquet eget sit amet tellus cras adipiscing enim. Purus viverra accumsan in nisl. Posuere sollicitudin aliquam ultrices sagittis orci a scelerisque purus semper. Mattis vulputate enim nulla aliquet porttitor lacus luctus. Maecenas volutpat blandit aliquam etiam erat velit. At volutpat diam ut venenatis tellus in metus vulputate. Eget aliquet nibh praesent tristique magna sit. Faucibus interdum posuere lorem ipsum dolor sit. Nec dui nunc mattis enim ut tellus. Elementum tempus egestas sed sed risus pretium quam vulputate. Eu consequat ac felis donec et odio pellentesque. Tempus iaculis urna id volutpat.

        Purus faucibus ornare suspendisse sed nisi lacus sed viverra tellus. Bibendum est ultricies integer quis auctor elit sed vulputate mi. Commodo elit at imperdiet dui accumsan. Id diam vel quam elementum pulvinar etiam. Nisi porta lorem mollis aliquam. Amet tellus cras adipiscing enim eu. Sed ullamcorper morbi tincidunt ornare. Blandit massa enim nec dui nunc mattis enim ut tellus. Ullamcorper morbi tincidunt ornare massa eget egestas purus viverra accumsan. Lacinia quis vel eros donec. Arcu cursus vitae congue mauris rhoncus aenean vel elit scelerisque. Egestas diam in arcu cursus euismod quis viverra nibh cras. Volutpat sed cras ornare arcu dui. Quam id leo in vitae. Amet commodo nulla facilisi nullam. Sed viverra ipsum nunc aliquet. Risus sed vulputate odio ut enim blandit volutpat maecenas. Id donec ultrices tincidunt arcu non. Purus semper eget duis at. Consequat semper viverra nam libero justo laoreet.

        Ultricies integer quis auctor elit sed vulputate. Pellentesque adipiscing commodo elit at imperdiet dui accumsan sit amet. Fringilla phasellus faucibus scelerisque eleifend donec pretium vulputate sapien. Arcu odio ut sem nulla pharetra. Adipiscing commodo elit at imperdiet dui accumsan sit. Ornare quam viverra orci sagittis eu volutpat odio facilisis. Est ante in nibh mauris cursus. Cursus euismod quis viverra nibh cras pulvinar mattis. A lacus vestibulum sed arcu non odio euismod lacinia. Scelerisque felis imperdiet proin fermentum leo vel orci. Urna id volutpat lacus laoreet non curabitur gravida arcu ac. Nibh sed pulvinar proin gravida hendrerit lectus a. Malesuada bibendum arcu vitae elementum curabitur.

        Ipsum faucibus vitae aliquet nec ullamcorper sit amet. Nibh ipsum consequat nisl vel pretium lectus. Elit duis tristique sollicitudin nibh. Pulvinar neque laoreet suspendisse interdum consectetur libero. Lacinia quis vel eros donec ac odio tempor orci dapibus. Auctor neque vitae tempus quam pellentesque nec nam. Risus nec feugiat in fermentum. Elementum eu facilisis sed odio morbi quis commodo odio aenean. Accumsan tortor posuere ac ut consequat semper. Lacus sed viverra tellus in hac habitasse. Elit duis tristique sollicitudin nibh sit amet commodo nulla facilisi. Nulla aliquet porttitor lacus luctus accumsan tortor posuere ac ut.

        Tempor orci dapibus ultrices in iaculis nunc sed augue lacus. At in tellus integer feugiat scelerisque varius morbi enim nunc. Dui faucibus in ornare quam viverra orci sagittis eu volutpat. Ut porttitor leo a diam sollicitudin tempor id eu nisl. Non nisi est sit amet facilisis magna. Ullamcorper morbi tincidunt ornare massa. Arcu felis bibendum ut tristique et egestas quis. Semper eget duis at tellus at urna condimentum mattis. Nisi porta lorem mollis aliquam ut porttitor. Sed enim ut sem viverra. Nunc vel risus commodo viverra maecenas. Quis risus sed vulputate odio ut enim blandit volutpat. Scelerisque in dictum non consectetur a erat nam. Tortor posuere ac ut consequat semper viverra nam. Maecenas accumsan lacus vel facilisis volutpat.
    </div>
    <br />
    <a class="top" href="#">Go to top</a>
</body>
</html>
