@model IEnumerable<Skyportfolio.Models.Portfolio>

@{
    ViewData["Title"] = "Portfolio";
}

    <div>
        @foreach (var item in Model)
        {
            <div class="grid-container">
                <div class="grid-item">
                    <img id="portfolio-img" src=@item.Img alt="img" style="max-height:20em;max-width: 33em;" />
                </div>
                <div class="grid-item">
                    <h5  style="color:#555; font-style: italic;">@item.Tech</h5> <br /><br />
                    <h5>@Html.DisplayFor(modelItem => item.Title)</h5><br />
                    <h5><a style="color: #333" href=@item.Link>@item.Link</a></h5>

                </div>
            </div>
         }
     </div>
